
<% if user_signed_in? %>
<table class="table table-bordered table-striped table-hover">
  <thead class="table-dark">
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Twitter</th>
    <th>User</th>
    <th></th>
  </thead>
  <tbody>
     <% @friends.each do |friend| %>
       <% if current_user  == friend.user %>
        <tr>
          <td><%= link_to "#{friend.first_name} #{friend.last_name}", friend %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td><%= friend.user_id %></td>
          <td><%= link_to "Delete this friend",friend,data:{turbo_method: :delete, turbo_confirm:'Are you sure' },class:"btn btn-danger btn-sm" %></td>
          
       </tr>
       <% end %>
    <% end %>
   
  </tbody>
</table>
<%= link_to "New friend", new_friend_path,class:"btn btn-secondary" %>

<% else %>
  <h1>Welcome</h1>
  <p>Welcome to Friends App!</p>
<% end %>